/* Stylesheet specifically for the addcourse page. */

p { margin-bottom: 10px; }
/* body > .section { display: block; } */
.literal-block { 
    line-height: 1em;
    margin-bottom: 15px;
}
body {
    color: #000;
}
blockquote:before {
    content: "";
}

header .row {
    max-width: 1024px;
    text-align: center;
    vertical-align: center;
}