/* Stylesheet specifically for the addcourse page. */

p { margin-bottom: 10px; }
/* body > .section { display: block; } */
.literal-block { 
    line-height: 1em;
    margin-bottom: 15px;
}
body {
    color: #000;
}
blockquote:before {
    content: "";
}

header {
    vertical-align: center;
}
header .row {
    text-align: center;
}
.headskip {
    display: block;
    margin: 30%;
}
